* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* WARNING:  */
/*

ayuda

Lo primero que tines que hacer si creas un nuevo section es buscar con Cmd + f:
#editorial
Y seguir las indicaciones.
Lo que vas a tener que hacer es donde te lo pide este CSS es añadir tu nuevo sections
*/
body {
  background-color: #eeeeee;
  /*#D7E0F4;*/
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

/* figure {
  margin: 0px;
  width: 100%;
} */
/* figure, #anterior figure {
  height: auto;
  width: 100%;
} */
footer {
  color: #3B404C;
  height: 100px;
  text-align: center;
  width: 100%;
}

figure {
  margin: 0;
}

h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

header {
  padding-top: 0;
  height: 500px;
  text-align: left;
  margin-bottom: 0px;
  background-color: yellow;
}

header h1 {
  text-align: left;
  /* font-family: 'Open Sans'; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Abel', sans-serif;
  color: #424242;
  font-size: 28px;
  padding: 0 4%;
  font-style: italic;
  font-weight: lighter;
}

header h2 {
  font-size: 23px;
  line-height: 23px;
  /*background-image: url(../img/lineas-h1-01.png);*/
  background-repeat: repeat;
  color: #1565c0;
  padding: 10px 0 10px 0;
}

h2 {
  line-height: 28px;
  margin-top: 0px;
  text-align: left;
  width: 100%;
}

.sin_margin-bottom {
  margin-bottom: 0;
}

.con_margin-bottom {
  margin-bottom: 20px;
}

header #profesiones h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #1565c0;
  font-size: 18px;
  padding: 120 4%;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

h4 {
  color: #046380;
  padding-bottom: 0;
  margin-bottom: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 30px;
  width: 100%;
  height: auto;
  padding-bottom: 90px;
}

header ul {
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
  list-style: none;
  margin: 0;
  text-align: left;
  padding-left: 2%;
}

header ul li:nth-child(2) {
  font-size: 20px;
  margin-top: 0.6rem;
}

header ul li:nth-child(1):after {
  content: ".";
}

header ul li {
  display: block;
}

header h1 {
  border-right: 1px dotted #999;
}

p {
  font-size: 18px;
}

#actual {
  background-color: white;
  color: #464747;
  height: auto;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

#actual h2 {
  color: #464747;
}

#actual h3 {
  padding: 0 8%;
}

#actual figure img {
  width: 50%;
}

/*sections Añade el nombre del nuevo section AQUÍ*/
#proyecto_actual, #ni-naiz, #anterior, #humor, #carteles, #editorial, #lanzadera, #laminas, #merchandising, #magik {
  padding: 4% 3% 90px 3%;
}

#carteles {
  padding-top: 20%;
}

#actual_ampliar_info {
  display: none;
}

#anterior figure {
  height: auto;
}

#actual h3, #anterior h3 {
  height: auto;
}

#anterior {
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#anterior h2 {
  color: #464747;
}

#anteriorTablets {
  display: none;
}

#anterior figure img {
  padding-top: 5%;
  width: 70%;
}

#anterior h3 {
  color: #1565c0;
}

#ampliar {
  height: 50px;
  display: inline-block;
  margin: 0px;
  text-align: right;
  vertical-align: top;
  visibility: visible;
}

#ampliar_descripcion_btn {
  width: 15%;
}

#ampliar_btn:focus {
  border: none;
  outline: none;
}

#ampliar_logo_info {
  display: inline-block;
  height: 50px;
  margin: 0px;
  text-align: right;
  vertical-align: top;
  visibility: visible;
  vertical-align: bottom;
}

#ampliar_logo_info_btn {
  width: 10%;
}

#aupa-baraka {
  width: 100%;
  background-color: white;
  margin-bottom: 200px;
  padding-left: inherit;
}

#aupa-baraka h3, #aupa-baraka article p {
  padding-left: 20px;
  text-align: center;
}

#btn_ocultar_info_jone {
  text-align: right;
}

#carteles {
  background-color: white;
  color: #464747;
  height: auto;
  text-align: center;
  width: 100%;
}

#carteles h3 {
  margin-top: 3%;
}

#carteles figure img {
  width: 100%;
  height: auto;
}

#carteles figure {
  padding: 0;
  margin: 0;
}

#chapas {}

#chapa3 {}

#check {
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 24px;
}

#check p {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
}

#check h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #1565c0;
}

#check ul {
  text-align: left;
  list-style: disc;
  padding-right: 7rem;
}

#check ul li {
  margin-left: 30px;
}

#check #olentzero img {
  width: 50%;
}

#merchandising section article figure img {
  width: 100%;
  border: 1px solid gray;
}

#chapa1, #chapa2 {
  display: none;
}

#cita {
  padding-bottom: 30%;
}

#cohete img {
  width: 50%;
}

#cojin_txt {
  display: block;
  width: 100%;
  text-align: center;
}

#cojin_txt h3, #cojin_txt p {
  text-align: center;
}

.sin_padding-bottom {
  padding: 0 0 0 0;
}

#contacto {
  height: 0px;
  margin: 0px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#datos_web_empresa {
  margin-top: 30px;
  display: visibility;
}

#descargar {
  text-align: left;
  padding-left: 4rem;
  padding-right: 3rem;
}

#descargar p {
  font-size: 14px;
}

#icono-google img {
  width: 30px;
}

#dcha_btn {
  cursor: pointer;
}

#derecha {
  background-color: rgba(50, 50, 51, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  left: 120px;
  margin: 0;
  padding-left: 0;
  position: relative;
  top: -280px;
  vertical-align: top;
  width: auto;
}

#derecha:focus {
  /*border: none;*/
  outline: none;
}

/* Copia y pega este section y sustituyelo por el nuevo section */
#editorial {
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#magikoa {
  background-color: white;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  padding-bottom: 80px;
}

#magikoa h3 {
  margin: 0 1rem;
  margin-bottom: 1rem;
  text-align: left;
  color: #1565c0;
}

#magikoa #portada p {
  text-align: center;
  padding: 0 2rem;
  margin-top: 30px;
}

#miniaturas-libro {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#miniaturas-libro article {
  flex-basis: 33%;
}

#miniaturas-libro article img {
  width: 100%;
}

#editorial img {
  width: 100%;
}

#magikoa img {
  width: 100%;
}

#fundas_movil {
  height: auto;
  background-color: white;
}

#fundas_movil article {
  width: 100%;
  display: block;
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  text-align: center;
}

#fundas_movil article h3, #fundas_movil article h5 {
  text-align: center;
}

#fundas_movil article img {
  width: 100%;
}

#header-consejos {
  display: none;
}

#humor h3, #editorial h3, #lanzadera h3 {
  text-align: center;
}

#iconos {
  background-color: white;
  margin: 0 auto 0 auto;
  width: 100%;
}

#icono1, #icono2, #icono3 {
  display: inline-block;
  width: 32%;
}

#icono1 img, #icono2 img, #icono3 img {
  width: 100%;
  display: inline-block;
}

#iconos figure {
  text-align: right;
}

#iconos figure img {
  width: 100%;
}

#izena img {
  width: 100%;
}

#izquierda {
  background-color: rgba(50, 50, 51, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  left: -120px;
  margin: 0;
  padding: 0;
  padding-left: 0;
  position: relative;
  top: -280px;
  vertical-align: top;
  width: auto;
}

#izquierda:focus {
  outline: none;
}

#izquierda img, #derecha img {
  cursor: pointer;
}

#galeria {
  height: auto;
  left: 0;
  opacity: 1;
  position: relative;
  transition-duration: 0.5s;
  visibility: visible;
}

#humor {
  background-color: white;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

#icono {
  /*background-color: red;*/
  vertical-align: bottom;
  text-align: right;
  width: 37.75px;
  height: 90px;
}

#icono img {
  vertical-align: middle;
  height: 90px;
}

#icono, #texto {
  display: inline-block;
  height: 90px;
  line-height: 49px;
}

#iconos {
  width: 84%;
}

#icono1-txt, #icono2-txt, #icono3-txt {
  display: none;
}

#jone-png-vmovil {
  display: block;
  margin-top: 50px;
}

#jone-png1 {
  display: none;
}

#jone-png2, #jone-png3, #jone-png4 {
  display: none;
}

#kris {
  width: 100%;
}

#kris figure {
  padding: 0;
  margin: 0;
}

#kris img {
  width: 100%;
}

#laminas-colorear img {
  width: 100%;
}

#lanzadera {
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#lanzadera article figure img {
  width: 100%;
}

#laminas {
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  text-align: center;
}

#laminas img {
  width: 100%;
}

#laminas figure {
  width: 100%;
}

#laminas article {
  width: 100%;
  display: block;
}

#laminas article figure img {
  width: 100%;
  border: 1px solid gray;
}

#logo {
  background-color: red;
  color: #1B75BB;
  height: auto;
  margin: 0px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}

#logo_img {
  width: 80%;
}

#logo-nn {
  width: 100%;
}

#laminas #logo-nn figure img {
  width: 40%;
  border: 0;
}

#logo-ni-naiz {
  background-color: red;
  width: 100%;
  padding: 0.5rem;
}

#logo-ni-naiz img {
  width: 40%;
}

#marcador-de-lineas {
  width: 100%;
  background-color: white;
}

#merchandising {
  width: 100%;
  display: block;
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  /* margin-top: 20px; */
  text-align: center;
}

#ml_section_principal, #ab_section_principal {
  background-color: white;
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 5%;
}

#ml_section_principal article, #ab_section_principal article {
  width: 100%;
  /*  width: 32%;*/
  vertical-align: top;
  margin: 0;
  padding: 0 0 40px 0;
}

#ml_section_principal article figure img, #ab_section_principal article figure img {
  width: 100%;
  max-width: 290px;
  /*225px;*/
}

#ml_section_principal article .inline, #ab_section_principal article .inline {}

#ml_section_principal article p, #ab_section_principal article p {
  padding-left: 10%;
  padding-right: 10%;
}

#ab_section_principal article p {
  padding-left: 0;
  padding-right: 0;
}

#mi-foto {
  width: 100%;
  text-align: center;
}

#mi-foto img {
  width: 40%;
  border-radius: 50%;
}

#mi-nombre {
  text-align: center;
  width: 100%;
}

#mostrar_proyecto_con_jone_div_btn {
  background-color: #3C3B3C;
  height: 90px;
  width: 100%;
}

.left h3 {
  text-align: left;
  margin-bottom: 0;
}

.left h4, h5 {
  text-align: left;
}

#merchandising h4 {
  margin-top: 0;
}

#ni-naiz {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: white;
}

#ni-naiz-athletic, #ni-naiz-1, #ni-naiz-2 {
  display: block;
  width: 100%;
  height: auto;
}

#ni-naiz-athletic figure {
  margin: 0;
}

#ni-naiz h2 {
  color: #464747;
}

#ni-naiz-principal figure img {
  width: 60%;
}

#nombre {
  background-image: url(../img/lineas-h1-01.png);
  background-repeat: repeat;
  border: 0;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
}

#nombre h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

#texto {
  color: #C3C4C9;
  height: 90px;
  padding-left: 3%;
  text-align: left;
  width: 78%;
}

#olentzero2 {
  display: none;
}

#olentzero3, #consejos1, #consejos2, #consejos3, #consejos4 {
  display: none;
}

#principal {
  margin: 0 auto;
  padding: 0 4% 0 4%;
  padding-top: 90px;
}

#proyecto_actual {
  background-color: white;
}

#profesiones {
  padding: 0 0;
  margin-top: 80px;
}

#precio_cuaderno {
  display: block;
  width: 100%;
}

#sectores {
  color: #AAAAAA;
  list-style-type: none;
}

#sectores {
  color: red;
  font-size: 12px;
}

#ninaiz-merchandising {
  width: 100%;
  height: auto;
  background-color: white;
}

#ninaiz-m-principal {
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
}

#ninaiz-merchandising #ninaiz-m-principal img {
  width: 100%;
}

#miniaturas img {
  width: 80%;
}

#miniaturas {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
}

#miniatura1, #miniatura2 {}

#miniatura1 {
  width: 100%;
  height: auto;
}

#miniatura1 {
  margin-top: 0.4rem;
}

#miniatura2 {
  border-top: 1px solid gray;
  width: 70%;
  height: auto;
}

#pag1 img, #pag2 img {
  width: 70%;
}

/*** Tesla */
.aumentar_el_margin_top {
  margin-top: 1rem;
}

.youtube {
  background-color: white;
  color: #464747;
  height: auto;
  text-align: center;
  width: 100%;
  padding-bottom: 2rem;
}

.youtube h2 {
  color: #464747;
}

.youtube h3 {
  padding: 0 8%;
}

.youtube figure img {
  width: 50%;
}

.youtube iframe {
  margin-top: 4rem;
  width: 100%;
}

/* Fin tesla */
.alinear_a_la_izquierda {
  text-align: left;
}

.alinear_al_centro {
  text-align: center;
}

.aumentar_el_texto {
  font-size: 140%;
}

.aumentar_el_margin_bottom {
  margin-bottom: 90px;
}

.aumentar_el_margin_top {
  margin-top: 40px;
}

.aumentar_el_padding {
  padding: 0 9% 0 9%;
  margin: 0;
}

.aumentar_el_padding_top {
  padding-top: 3rem;
}

.aumentar_el_padding_left {
  padding-left: 30px;
}

.aumentar_el_padding_right {
  padding-right: 20%;
}

.borde-articles img {
  margin-top: 30px;
  border: 1px solid #dfdfdf;
}

.cita {
  font-family: serif;
  font-style: italic;
  color: gray;
  padding: 0 5% 8% 3%;
  text-align: center;
}

.cita p {
  font-size: 20px;
}

.color_white {
  color: #DEDEE0;
}

.info_intros {
  margin-left: 1rem;
  padding-left: 0.7rem;
  border-left: 1px dotted #999;
}

.intros {
  color: #424242;
  padding-left: 1rem;
}

.intros2 h2 {
  color: #424242;
  text-align: center;
  margin-top: 4rem;
}

.laminas {
  border: 1px solid gray;
}

.links {
  font-size: 16px;
  text-align: left;
}

.margin_top_eliminar {
  margin-top: 0;
}

.margin_bottom_eliminar {
  margin-bottom: 0;
}

.mi_nombre {
  margin: 0 0 0 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
}

.mi_nombre h2 {
  text-align: center;
}

.miniatura {
  width: 100%;
  padding-top: 4px;
  border-bottom: 1px solid #b5b6b6;
  /* border-left */
}

.miniatura-top {
  border-top: 1px solid #b5b6b6;
}

.mostrar_mano {
  cursor: pointer;
}

.negrita {
  font-weight: bold;
}

.ocultar_info {
  text-align: center;
}

.padding_bottom_eliminar {
  padding-bottom: 0;
}

.texto_reducir {
  font-size: 90%;
  font-weight: normal;
  width: 100%;
}

.pantallas {
  font-size: 90%;
  font-weight: normal;
  width: 100%;
}

.texto_reducir_low {
  font-size: 1.2rem;
}

.sobremi {
  margin: 30% 10% 10% 10%;
  font-family: sans-serif;
  font-style: italic;
  line-height: 150%;
  color: gray;
  padding: 0 5% 8% 3%;
  text-align: left;
}

.sobremi p {
  font-size: 18px;
}

.sobremi2 {
  margin: 24% 10% 10% 10%;
}

.youtube figure img {
  width: 80%;
}

/* WARNING: MEDIAQUERY */
/* WARNING: MEDIAQUERY */
/* WARNING: MEDIAQUERY */
/* WARNING: MEDIAQUERY */

@media only screen and (min-width: 768px) {
  body {
    background-color: #D7E0F4;
    border: none;
    padding: 0;
  }

  header {
    padding-top: 0;
    height: 500px;
    text-align: left;
    margin-bottom: 0px;
    background-color: yellow;
  }

  #ni-naiz-athletic header {
    padding-top: 1rem;
    height: auto;
  }

  header figure img {
    width: 15%;
  }

  header h1 {
    color: #464747;
    font-size: 40px;
    padding-top: 0px;
    padding-left: 2%;
    text-align: left;
    padding-left: 5%;
  }

  #profesiones {
    position: absolute;
    top: 0;
    width: 100%;
  }

  header #profesiones h3 {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #1E86F7;
    font-size: 16px;
    padding-right: 5%;
  }

  header ul {
    text-align: left;
  }

  header ul li {
    display: inline-block;
  }

  blockquote::first-letter {
    font-size: 60px;
  }

  #soy {
    padding: 3%;
    text-align: left;
    max-width: 1300px;
    margin: 0 auto;
  }

  header h2 {
    color: #2278F4;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-top: 100px;
    font-size: 24px;
    background: none;
    text-align: left;
  }

  /* h3 {
  padding: 0 20% 0 0;
  text-align: left;
} */
  header h2 {
    color: #2278F4;
  }

  #ampliar {
    display: inline-block;
    width: 40%;
    visibility: hidden;
  }

  #anterior {
    height: auto;
    background: none;
  }

  /*sections Añade el nombre del nuevo section AQUÍ*/
  #actual h2, #anterior h2, #actual h3, #anterior h3, #proyecto_con_jone h2, #proyecto_con_jone, #actual_ampliar_info h3, #ni-naiz h2, #ni-naiz, .youtube h2, .youtube h3, #carteles h2, #carteles h3, #editorial h2, #editorial h3, #lanzadera h2, #lanzadera h3, #laminas h2, #laminas h3, #merchandising h2, #merchandising h3, #magikoa h2, #magikoa h3 {
    color: #2278F4;
  }

  #ampliar {
    visibility: visible;
  }

  #ampliar_btn {
    height: 50px;
    margin-top: 30px;
    display: inline-block;
  }

  #ampliar_descripcion_btn {
    width: 10%;
  }

  #ampliar_logo_info_btn {
    width: 4%;
  }

  #btn_ocultar_info_jone {
    display: block;
    visibility: vivi;
  }

  #actual {
    border: none;
    vertical-align: top;
    margin-top: 80px;
  }

  #actual figure {
    width: 100%;
    text-align: left;
    height: auto;
  }

  #actual figure img {
    width: 100%;
  }

  #actual_ampliar_info {
    width: 38%;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 3%;
  }

  #actual_ampliar_info figure {
    vertical-align: bottom;
  }

  #actual_ampliar_info img {
    vertical-align: bottom;
    width: 70%;
  }

  #actual {
    width: 60%;
    height: auto;
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
  }

  #anterior {
    width: 100%;
    background-color: #8DD3D8;
    /*padding: 0 3% 0 3%;*/
    margin-top: 0px;
  }

  #anterior figure {
    text-align: center;
  }

  #anteriorPrincipal {
    display: inline-block;
    width: 60%;
    vertical-align: bottom;
  }

  #anteriorTablets {
    display: inline-block;
    width: 34%;
    vertical-align: top;
  }

  #anterior {
    text-align: left;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: white;
    margin-bottom: 0px;
  }

  #anterior h3, #check h3 {
    text-align: center;
  }

  #ampliar_logo_info {
    visibility: hidden;
  }

  #anterior figure {
    text-align: center;
  }

  #carteles figure img {
    height: 95vh;
    width: auto;
  }

  #cohete img {
    width: 22%;
  }

  #consejos1 {
    padding: 0 0 0 3%;
  }

  #consejos1 h2 {
    text-align: center;
  }

  #consejos4 {
    background-color: #8DD3D8;
    color: #2278F4;
    display: inline-block;
    height: 300px;
    padding-top: 150px;
    width: 20%;
  }

  #consejos1, #consejos2, #consejos3 {
    background-color: #8DD3D8;
    color: #2278F4;
    display: inline-block;
    height: 300px;
    margin-bottom: 100px;
    padding: 0 5%;
    vertical-align: top;
    width: 26%;
  }

  #consejos1 img, #consejos2 img, #consejos3 img {
    width: 100%;
  }

  #chapas {
    width: 100%;
  }

  #chapa1, #chapa2, #chapa3 {
    width: 33%;
    display: inline-block;
  }

  #chapa1 figure img, #chapa2 figure img, #chapa3 figure img {
    width: 100%;
    height: auto;
  }

  #check {}

  #check p {
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
  }

  #check h3 {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #check ul {
    text-align: left;
    list-style: disc;
    padding-right: 18rem;
  }

  #check ul li {
    margin-left: 180px;
  }

  #check #olentzero img {
    width: 30%;
  }

  #datos_web_empresa {
    display: block;
  }

  #fundas_movil article {
    width: 45%;
    display: inline-block;
    margin: 0 20px;
  }

  #header-consejos {
    display: block;
    padding: 0 20% 100px 20%;
    padding-bottom: 100px;
    width: 100%;
  }

  #header-consejos h2, #header-consejos p {
    text-align: center;
  }

  #iconos {
    width: 85%;
  }

  #iconos figure img {
    width: 70%;
  }

  #icono1-txt {
    display: block;
  }

  #icono2-txt {
    display: block;
  }

  #icono3-txt {
    display: block;
  }

  #icono1, #icono2, #icono3 {
    vertical-align: top;
  }

  #icono1-txt, #icono2-txt, #icono3-txt {
    vertical-align: top;
  }

  #iconos figure img {
    margin: 0 5%;
  }

  #laminas-colorear article {
    width: 40%;
  }

  #laminas article figure img {
    width: 90%;
    border: 1px solid gray;
  }

  #lanzamiento-h3 {
    margin-bottom: 0;
  }

  #logo {
    background-color: red;
    height: auto;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  #logo_img {
    width: 40%;
  }

  #magikoa img {
    width: 70%;
  }

  #mi-foto {
    display: block;
    width: 100%;
    height: auto;
  }

  #mi-foto img {
    width: 15%;
  }

  #mi-nombre {
    display: block;
    ;
    float: left;
    padding: 0 15%;
    text-align: center;
    width: 100%;
  }

  #mi-profesion {
    display: block;
    margin-top: 100px;
    padding: 0 20%;
    width: 100%;
  }

  #mi-profesion h1 {
    font-size: 20px;
    font-style: normal;
    color: gray;
    letter-spacing: 0px;
    padding: 0 8% 0 8%;
    text-align: center;
    text-indent: 20px;
    width: 100%;
  }

  #neskatxo #olentzero img {
    width: 40%;
  }

  #ni-naiz {
    height: auto;
  }

  #ni-naiz h2 {
    margin-top: 20px;
  }

  #ni-naiz img {
    width: 100%;
  }

  #ninaiz-m-principal {
    display: inline-block;
    width: 60%;
    border: 0;
  }

  #magikoa p {
    padding: 0 10rem;
  }

  #merchandising img {}

  #merchandising .reducir_img img {
    width: 40%;
    height: auto;
  }

  #miniaturas {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }

  #miniatura1 {
    border: 0;
    width: 100%;
  }

  #miniatura2 img {
    width: 70%;
  }

  #miniatura1, #miniatura2 {
    padding: 20% 0;
  }

  #ml_section_principal, #ab_section_principal {
    background-color: white;
    height: auto;
    width: 100%;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0 0 0 0;
  }

  #ab_section_principal {
    text-align: left;
  }

  #ml_section_principal article, #ab_section_principal article {
    width: 33%;
    display: inline-block;
    padding-bottom: 40px;
    vertical-align: top;
    margin: 0;
    margin-top: 5%;
    padding-bottom: 40px;
  }

  #ml_section_principal article p, #ab_section_principal article p {
    padding-left: 6%;
  }

  #ni-naiz-principal {
    width: 100%;
    display: inline;
  }

  #ni-naiz-1, #ni-naiz-2 {
    display: inline;
    width: 40%;
    height: auto;
  }

  #nombre {
    background: none;
    /*background-image: url(../img/lineas-h1-vt-01.png);
  background-repeat: repeat;
  background-size: 10%;*/
  }

  #olentzero img {
    width: 30%;
  }

  #olentzero2 {
    display: inline-block;
    background-color: #8DD3D8;
    padding: 0 10% 160px 10%;
    vertical-align: bottom;
    visibility: hidden;
    width: 44%;
  }

  #olentzero2 h1 {
    font-weight: bold;
    font-size: 29px;
    padding: 0;
  }

  #olentzero2 img {
    width: 40%;
  }

  #olentzero2-header img {
    width: 100%;
  }

  #olentzero3 {
    display: block;
    background-color: #8DD3D8;
    padding-top: 20px;
    padding-bottom: 120px;
  }

  #pag1, #pag2 {
    display: inline-block;
    width: 47%;
    height: auto;
  }

  #pag1 img, #pag2 img {
    width: 100%;
  }

  #proyecto_actual {
    height: auto;
  }

  #titulo-jone {
    display: none;
    padding-left: 20%;
  }

  #principal {
    height: 1600px;
    margin: 40px auto 40px auto;
    max-width: 1100px;
  }

  #proyectos {
    /* text-align: center; */
  }

  #proyecto_actual, #ni-naiz, #anterior, #humor {
    padding-top: 70px;
  }

  #sectores {
    font-size: 14px;
    font-weight: bold;
  }

  .sobremi {
    margin: 10% 10% 0 10%;
    line-height: 180%;
    padding: 0 5% 8% 3%;
  }

  .sobremi p {
    font-size: 22px;
  }

  .cita {
    font-family: serif;
    font-style: italic;
    color: gray;
    padding: 0 20% 8% 20%;
    text-align: center;
  }

  .cita p {
    font-size: 24px;
  }

  .display-en-linea {
    display: inline;
    width: 40%;
  }

  .texto_reducir_low {
    font-size: 1rem;
  }

  .youtube iframe {
    width: 70%;
  }

  .youtube {
    width: 45%;
    display: inline-block;
  }
}

/* Fin del mediaquery */
