
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #1B1C1C; /*#D7E0F4;*/
  font-family: 'Open Sans', sans-serif;
  margin: 40px auto 40px auto;
  padding: 0 4% 0 4%;
}


figure {
  margin: 0px;
  width: 100%;
}

footer {
  color: #3B404C;
  height: 100px;
  text-align: center;
  width: 100%;
}

h2 {
  line-height: 28px;
  margin-top: 0px;
  padding-top: 40px;
  text-align: left;
  width: 100%;
}

h1 {
  color: #D6D6D6;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

header {
  margin-bottom: 100px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

header h2, header h3  {
  color: #AAAAAA;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}


header figure img {
  border: 4px solid #2C4C4C;
  border-radius: 50%;
  width: 40%;
}

p {
  font-size: 18px;
}

#actual {
  background-color: white;
  border: 1px solid gray;
  color: #464747;
  height: 600px;
  text-align: center;
  width: 100%;
}

#actual h2 {
  color: #464747;
}

#actual h3 {
  padding: 0 8%;
}

#actual figure img {
  width: 50%;
}

#actual, #anterior, #proyecto_con_jone {
  padding: 0 3% 50px 3%;
}

#actual figure, #anterior figure {
  height: 250px;
  width: 100%;
}

#anterior figure {
  height: auto;
}

#actual h3, #anterior h3 {
  height: auto;
}

#anterior {
  background-color: white; /* #D0D3D4; */
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#anterior h2 {
 color: #464747;
}


#anterior figure img {
  padding-top: 5%;
  width: 100%;
}

#ampliar {
  height: 50px;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  visibility: visible;
}

#ampliar_descripcion_btn{
  width: 15%;
}

#ampliar_btn:focus {
    outline: none;
    border: none;
}

#ampliar_logo_info {
  height: 50px;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  visibility: visible;
  vertical-align: bottom;
  text-align: right;
}

#ampliar_logo_info_btn {
  width: 10%;
}


#cartel-jone img {
  width: 90%;
}

#cartel-jone-info {
  background-color: white;
  height: 10px;
  overflow: hidden;
  padding-top: 20px;
  text-align: left;
  transition-duration: 1s;
  width: 100%;
}

#contacto {
  height: 0px;
  margin: 0px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#datos_web_empresa {
  display: none;
}

#izena img {
  width: 100%;
}

#izquierda {
  background-color: rgba(50, 50, 51, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  left: -120px;
  font-size: 40px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 0;
  position: relative;
  top: -280px;
  vertical-align: top;
  width: auto;
}

#izquierda:focus {
  outline: none;
}

#izquierda img, #derecha img {
  cursor: pointer;
}

#dcha_btn {
  cursor: pointer;
}

#derecha {
  background-color: rgba(50, 50, 51, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  left: 120px;
  margin: 0;
  padding-left: 0;
  position: relative;
  top: -280px;
  vertical-align: top;
  width: auto;
}

#derecha:focus {
  /*border: none;*/
  outline: none;
}

#galeria {
  left: 0;
  height: auto;
  opacity: 1;
  position: relative;
  transition-duration: 0.5s;
  visibility: visible;
}

#jone-png-vmovil {
  display: block;
  margin-top: 50px;
}

#jone-png1 {
  display: none;
}

#jone-png2 {
  display: none;
}

#logo {
  color: #1B75BB;
  height: 320px;
  margin: 0px;
  text-align: center;
  width: 100%;
  background-color: red;
}

#logo_img {
  width: 80%;
}

#mi-nombre {
  text-align: center;
  width: 100%;
}

#mostrar_proyecto_con_jone_div_btn {
  height: 90px;
  width: 100%;
  text-align: right;
  background-color: #3C3B3C;
}

#nombre {
  padding: 10px 0 10px 0;
  margin: 0;
  border: 0;
  text-align: center;
  width: 100%;
  background-image: url(../img/lineas-h1-01.png);
  background-repeat: repeat;
}

#nombre h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}



#proyecto_con_jone {
  background-color: white;
  color: #464747;
  height: 0;
  overflow: hidden;
  padding: 0 3% 0 3%; /* padding: 0 3% 50px 3%; */
  text-align: center;
  width: 100%;
  transition-duration: 0.5s;
}

#proyecto_con_jone h2 {
  color: #464747;
}

.alinear_a_la_izquierda {
  text-align: left;
}

.aumentar_el_texto {
  font-size: 140%;
}

.aumentar_el_margin_bottom {
  margin-bottom: 90px;
}

.aumentar_el_margin_top {
  margin-top: 40px;
}

.aumentar_el_padding {
  padding: 0 9% 0 9%;
}

.aumentar_el_padding_left {
  padding-left: 30px;
}

.color_white {
  color: #DEDEE0;
}

.margin_top_eliminar {
  margin-top: 0;
}

.mi_nombre {
  margin: 0 0 0 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
}

.mi_nombre h2 {
  text-align: center;
}

.negrita {
  font-weight: bold;
}

.links {
  font-size: 16px;
  text-align: left;
}

.margin_bottom_eliminar {
  padding-bottom: 0;
}

.mostrar_mano {
  cursor: pointer;
}

.texto_reducir {
  font-size: 90%;
  font-weight: normal;
}



.texto_reducir_low {
  font-size: 1.2rem;
}

.ocultar_info {
  text-align: center;
}

@media only screen and (min-width: 768px)
{

body {
  background-color: #D7E0F4;
  border: none;
  padding: 0;
  max-width: 1100px;
}

header {
  margin-bottom: 0px;
}

header figure img {
  width: 20%;
}

h1 {
  color: #464747;
}

h2 {
  color: #2278F4;
  padding-top: 0px;
}

header h2 {
  color: #2278F4;
}

h1 {
  padding: 0 20% 0 20%;
}

h3 {
  padding: 0 20% 0 0;
}

#ampliar {
  visibility: hidden;
}
#anterior {
    height: 1100px;
  }
#actual {
  border: none;
}

#actual, #anterior {
  width: 49%;
  height: 500px;
  vertical-align: top;
  display: inline-block;
  margin-top: 50px;
}

#actual figure {
  height: 250px;
  width: 304px;
}

#anterior figure {
  height: auto;
  width: 304px;

}


#actual {
  background-image: url("../img/proyectos_linea_bg-01.png");
  background-repeat: no-repeat;
  background-size: contain;;

}

#actual h2, #anterior h2, #actual h3, #anterior h3, #proyecto_con_jone h2, #proyecto_con_jone {
  color: #2278F4;
}

#ampliar_btn {
  height: 50px;
  margin-top: 30px;
  display: inline-block;
}

#ampliar_descripcion_btn {
  width: 10%;
}

#ampliar_logo_info_btn {
  width: 4%;
}

#btn_ocultar_info_jone {
  display: block;
  visibility: vivi;
}

#cartel-jone-info {
  height: 1300px;
  padding: 0 20%;
}

#logo{
  background-color: red;
  height: 360px;
  padding-left: 10px;
}

#logo_img {
  width: 40%;
}

#jone-png-vmovil {
      display: none;
      width: 45%;
    }

#jone-png1 {
    display: inline-block;
    width: 45%;
  }

#jone-png2 {
    display: inline-block;
    width: 45%;
  }

#mostrar_proyecto_con_jone_div_btn {
  margin-bottom: 50px;
}

#mostrar_proyecto_con_jone_div_btn figure {
  text-align: center;
}


#nombre {
    background-image: url(../img/lineas-h1-vt-01.png);
    background-repeat: repeat;
  }

#principal {
    background-color: white;
    height: 1600px;
  }

#proyectos {
    text-align: center;
}

#olentzero img {
  width: 100%;
}

#proyecto_con_jone {
  height: 0px;
}

#titulo-jone {
  padding-left: 20%;
}

.aumentar_el_margin_top {
  margin-top: 0;
}

}
