
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: red; /*#D7E0F4;*/
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

figure {
  margin: 0px;
  width: 100%;
}

figure, #anterior figure {
  height: auto;
  width: 100%;
}

footer {
  color: #3B404C;
  height: 100px;
  text-align: center;
  width: 100%;
}

h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

header h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
  padding: 0 4%;
  font-weight: normal;
}

header h2 {
  font-size: 23px;
  line-height: 23px;
  background-image: url(../img/lineas-h1-01.png);
  background-repeat: repeat;
  color: #fff;
  padding: 10px 0 10px 0;

}

h2 {
  line-height: 28px;
  margin-top: 0px;
  padding-top: 40px;
  text-align: left;
  width: 100%;
}

header #profesiones  h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #D6D6D6;
  font-size: 18px;
  padding: 120 4%;
  font-weight: normal;
  padding-top: 60px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

h4 {
  color: #046380;
}

header {
  padding-top: 80px;
  width: 100%;
  height: auto;
  padding-bottom: 90px;
}

header ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}

header ul li:nth-child(2) {
  font-size: 18px;
}

header h1 {
  border-right: 1px dotted #999;
}

p {
  font-size: 18px;
}





#actual {
  background-color: white;
  color: #464747;
  height: auto;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

#actual h2 {
  color: #464747;
}

#actual h3 {
  padding: 0 8%;
}

#actual figure img {
  width: 50%;
}

#proyecto_actual, #ni-naiz, #anterior, #humor {
  padding: 0 3% 90px 3%;
}

#actual_ampliar_info {
  display: none;
}

#anterior figure {
  height: auto;
}

#actual h3, #anterior h3 {
  height: auto;
}

#anterior {
  background-color: white;
  color: #464747;
  height: auto;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  width: 100%;

}

#anterior h2 {
 color: #464747;
}

#anteriorTablets {
  display: none;
}

#anterior figure img {
  padding-top: 5%;
  width: 70%;
}

#ampliar {
  height: 50px;
  display: inline-block;
  margin: 0px;
  text-align: right;
  vertical-align: top;
  visibility: visible;
}

#ampliar_descripcion_btn{
  width: 15%;
}

#ampliar_btn:focus {
  border: none;
  outline: none;
}

#ampliar_logo_info {
  display: inline-block;
  height: 50px;
  margin: 0px;
  text-align: right;
  vertical-align: top;
  visibility: visible;
  vertical-align: bottom;
}

#ampliar_logo_info_btn {
  width: 10%;
}

#btn_ocultar_info_jone {
  text-align: right;
}

#cohete img {
  width: 50%;
}

#contacto {
  height: 0px;
  margin: 0px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#datos_web_empresa {
  display: none;
}

#icono-google img {
  width: 30px;
}

#dcha_btn {
  cursor: pointer;
}

#derecha {
  background-color: rgba(50, 50, 51, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  left: 120px;
  margin: 0;
  padding-left: 0;
  position: relative;
  top: -280px;
  vertical-align: top;
  width: auto;
}

#derecha:focus {
  /*border: none;*/
  outline: none;
}

#header-consejos {
  display: none;
}

#iconos {
  background-color: white;
  margin: 0 auto 0 auto;
  width: 100%;
}

#icono1, #icono2, #icono3 {
  display: inline-block;
  width: 32%;
}

#icono1 img, #icono2 img, #icono3 img {
  width: 100%;
  display: inline-block;
}

#iconos figure {
  text-align: right;
  }

#iconos figure img {
  width: 100%;
}

#izena img {
  width: 100%;
}

#izquierda {
  background-color: rgba(50, 50, 51, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  left: -120px;
  margin: 0;
  padding: 0;
  padding-left: 0;
  position: relative;
  top: -280px;
  vertical-align: top;
  width: auto;
}

#izquierda:focus {
  outline: none;
}

#izquierda img, #derecha img {
  cursor: pointer;
}

#galeria {
  height: auto;
  left: 0;
  opacity: 1;
  position: relative;
  transition-duration: 0.5s;
  visibility: visible;
}

#humor {
  background-color: white;
  height: auto;
  margin-top: 20px;
}

#icono {
  /*background-color: red;*/
  vertical-align: bottom;
  text-align: right;
  width: 37.75px;
  height: 90px;
}

#icono img {
  vertical-align: middle;
  height: 90px;
}

#icono, #texto {
  display: inline-block;
  height: 90px;
  line-height: 49px;
}

#iconos {
  width: 84%;
}

#icono1-txt, #icono2-txt, #icono3-txt {
  display: none;
}

#jone-png-vmovil {
  display: block;
  margin-top: 50px;
}

#jone-png1 {
  display: none;
}

#jone-png2, #jone-png3, #jone-png4 {
  display: none;
}

#logo {
  background-color: red;
  color: #1B75BB;
  height: auto;
  margin: 0px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}

#logo_img {
  width: 80%;
}

#mi-foto {
  width: 100%;
  text-align: center;
}

#mi-foto img {
  width: 40%;
  border-radius: 50%;
}

#mi-nombre {
  text-align: center;
  width: 100%;
}

#mostrar_proyecto_con_jone_div_btn {
  background-color: #3C3B3C;
  height: 90px;
  width: 100%;
}

#ni-naiz {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 50px;
}

#ni-naiz h2 {
  color: #464747;
}

#ni-naiz-principal img {
  width: 80%;
}

#nombre {
  background-image: url(../img/lineas-h1-01.png);
  background-repeat: repeat;
  border: 0;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
}

#nombre h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

#texto {
  color: #C3C4C9;
  height: 90px;
  padding-left: 3%;
  text-align: left;
  width: 78%;
}

#olentzero2 {
  display: none;
}

#olentzero3, #consejos1, #consejos2, #consejos3, #consejos4 {
  display: none;
}

#principal {
  margin: 0 auto;
  padding: 0 4% 0 4%;
  padding-top: 90px;
}

#proyecto_actual {
  background-color: white;
}

#sectores{
  color: #AAAAAA;
  list-style-type: none;
}

#sectores {
  color: red;
  font-size: 12px;
}

/*** Tesla */

#tesla{
  background-color: white;
  color: #464747;
  height: auto;
  text-align: center;
  width: 100%;
}

#tesla iframe {
  width: 100%;
}

#tesla h2 {
  color: #464747;
}

#tesla h3 {
  padding: 0 8%;
}

#tesla figure img {
  width: 50%;
}


/* Fin tesla */

.alinear_a_la_izquierda {
  text-align: left;
}

.aumentar_el_texto {
  font-size: 140%;
}

.aumentar_el_margin_bottom {
  margin-bottom: 90px;
}

.aumentar_el_margin_top {
  margin-top: 40px;
}

.aumentar_el_padding {
  padding: 0 9% 0 9%;
  margin: 0;
}

.aumentar_el_padding_left {
  padding-left: 30px;
}

.color_white {
  color: #DEDEE0;
}

.links {
  font-size: 16px;
  text-align: left;
}

.margin_top_eliminar {
  margin-top: 0;
}

.margin_bottom_eliminar {
  margin-bottom: 0;
}

.mi_nombre {
  margin: 0 0 0 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
}

.mi_nombre h2 {
  text-align: center;
}

.mostrar_mano {
  cursor: pointer;
}

.negrita {
  font-weight: bold;
}

.ocultar_info {
  text-align: center;
}

.padding_bottom_eliminar {
  padding-bottom: 0;
}

.texto_reducir {
  font-size: 90%;
  font-weight: normal;
  width: 100%;
}

.pantallas {
  font-size: 90%;
  font-weight: normal;
  width: 100%;
}



.texto_reducir_low {
  font-size: 1.2rem;
}


@media only screen and (min-width: 768px)
{

body {
  background-color: #D7E0F4;
  border: none;
  padding: 0;
}

header {
  padding-top: 0;
  height: 500px;
  text-align: left;
  margin-bottom: 0px;
  background-color: yellow;
}

header figure img {
  width: 15%;
}

header h1 {
  color: #464747;
  font-size: 40px;
  padding-top: 0px;
  padding-left: 2%;
  text-align: left;
  padding-left: 5%;
}

#profesiones {

  position: absolute;
  top: 0;
  width: 100%;

}

header #profesiones h3 {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  color: #1E86F7;
  font-size: 16px;
  padding-right: 5%;

}

header ul {
  text-align: left;
}


header ul li {
  display: inline-block;
}

header ul li:nth-child(1):after {
  content: ".";
}

blockquote::first-letter {
  font-size: 60px;
}

#soy {
  padding: 3%;
  text-align: left;
  max-width: 1300px;
  margin: 0 auto;
}

header h2 {
  color: #2278F4;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding-top: 100px;
  font-size: 24px;
  background: none;
  text-align: left;
}

h3 {
  padding: 0 20% 0 0;
  text-align: left;
}

header h2 {
  color: #2278F4;
}



#ampliar {
  display: inline-block;
  width: 40%;
  visibility: hidden;
}
#anterior {
  height: auto;
  background: none;
}

#actual h2, #anterior h2, #actual h3, #anterior h3, #proyecto_con_jone h2, #proyecto_con_jone, #actual_ampliar_info h3, #ni-naiz h2, #ni-naiz {
  color: #2278F4;
}

#ampliar {
  visibility: visible;
}

#ampliar_btn {
  height: 50px;
  margin-top: 30px;
  display: inline-block;
}

#ampliar_descripcion_btn {
  width: 10%;
}

#ampliar_logo_info_btn {
  width: 4%;
}

#btn_ocultar_info_jone {
  display: block;
  visibility: vivi;
}

#actual {
  border: none;
  vertical-align: top;
  margin-top: 80px;
}

#actual figure {
  width: 100%;
  text-align: left;
  height: auto;
}

#actual figure img {
  width: 100%;
}

#actual_ampliar_info {
  width: 38%;
  height: auto;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 3%;
}

#actual_ampliar_info figure {
  vertical-align: bottom;
}

#actual_ampliar_info img {
  vertical-align: bottom;
  width: 70%;
}

#actual {
  width: 60%;
  height: auto;
  vertical-align: top;
  display: inline-block;
  margin-top: 0;
}

#anterior {
  width: 100%;
  background-color: #8DD3D8;
  /*padding: 0 3% 0 3%;*/
  margin-top: 50px;
}

#anterior figure {
  text-align: center;
}

#anteriorPrincipal {
  display: inline-block;
  width: 60%;
  vertical-align: bottom;

}

#anteriorTablets {
  display: inline-block;
  width: 34%;
  vertical-align: top;
}


#anterior {
  text-align: left;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: white;
  margin-bottom: 0px;
}

#ampliar_logo_info {
  visibility: hidden;
}

#anterior figure {
  text-align: center;
}

#cohete img {
  width: 22%;
}

#consejos1 {
  padding: 0 0 0 3%;
}

#consejos1 h2 {
  text-align: center;
}

#consejos4 {
  background-color: #8DD3D8;
  color: #2278F4;
  display: inline-block;
  height: 300px;
  padding-top: 150px;
  width: 20%;
}

#consejos1, #consejos2, #consejos3{
  background-color: #8DD3D8;
  color: #2278F4;
  display: inline-block;
  height: 300px;
  margin-bottom: 100px;
  padding: 0 5%;
  vertical-align: top;
  width: 26%;
}

#consejos1 img, #consejos2 img, #consejos3 img {
  width: 100%;
}

#datos_web_empresa {
    display: block;
}

#header-consejos {
  display: block;
  padding: 0 20% 100px 20%;
  padding-bottom: 100px;
  width: 100%;

}

#header-consejos h2, #header-consejos p {
  text-align: center;
}

#iconos {
  width: 85%;
}

#iconos figure img {
  width: 70%;
}

#icono1-txt {
  display: block;
}

#icono2-txt {
  display: block;
}

#icono3-txt {
  display: block;
}

#icono1, #icono2, #icono3 {
  vertical-align: top;
}

#icono1-txt, #icono2-txt, #icono3-txt {
  vertical-align: top;
}

#iconos figure img {
  margin: 0 5%;
}

#logo{
  background-color: red;
  height: auto;
  padding-bottom: 50px;
  padding-left: 10px;
}

#logo_img {
  width: 40%;
}

#mi-foto {
  display: none;
  height: 0px;

}

#mi-foto img {
  width: 15%;
}

#mi-nombre {
  display: block;;
  float: left;
  padding: 0 15%;
  text-align: center;
  width: 100%;
}

#mi-profesion {
  display: block;
  margin-top: 100px;
  padding: 0 20%;
  width: 100%;
}


#mi-profesion h1 {
  font-size: 20px;
  font-style: normal;
  color: gray;
  letter-spacing: 0px;
  padding: 0 8% 0 8%;
  text-align: center;
  text-indent: 20px;
  width: 100%;
}

#neskatxo #olentzero img {
  width: 40%;
}

#ni-naiz {
  height: auto;
}

#ni-naiz h2 {
  margin-top: 20px;

}

#ni-naiz img {
  width: 40%;
}

#nombre {
  background: none;
  /*background-image: url(../img/lineas-h1-vt-01.png);
  background-repeat: repeat;
  background-size: 10%;*/
}

#olentzero img {
  width: 30%;
}

#olentzero2 {
  display: inline-block;
  background-color: #8DD3D8;
  padding: 0 10% 160px 10%;
  vertical-align: bottom;
  visibility: hidden;
  width: 44%;
}

#olentzero2 h1 {
  font-weight: bold;
  font-size: 29px;
  padding: 0;
}

#olentzero2 img {
  width: 40%;
}

#olentzero2-header img {
  width: 100%;
}

#olentzero3 {
  display: block;
  background-color: #8DD3D8;
  padding-top: 20px;
  padding-bottom: 120px;
}

#proyecto_actual {
  height: auto;
}

#titulo-jone {
  display: none;
  padding-left: 20%;
}

#principal {
    height: 1600px;
    margin: 40px auto 40px auto;
    max-width: 1100px;

  }

#proyectos {
    text-align: center;
}

#proyecto_actual, #ni-naiz, #anterior, #humor {
  padding-top: 70px;
}


#sectores {
  font-size: 14px;
  font-weight: bold;
}


.aumentar_el_margin_top {
  margin-top: 0;
}

.texto_reducir_low {
  font-size: 1rem;
}

} /* Fin del mediaquery */
